<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tournoi Realm Royal : {% block title %}{% endblock %}</title>
  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  {% block additional_css %}{% endblock %}
  <link rel="stylesheet" href="{{ asset( '/css/app.css' ) }}">
</head>

<body>
  <header>
    <img src="{{ asset('/img/logo/logo.png') }}" alt="Logo Realm Royal" class="img_logo"/>
    {% if adminExist == false %}
      <a href="{{ url('/login') }}" class="btn btn-outline-secondary"><i class="fas fa-user"></i></a>
    {% else %}
      <a href="{{ url('/backoffice/liste-joueurs') }}" class="btn btn-outline-secondary">Staff</a>
    {% endif %}
  </header>
  {% block content %}{% endblock %}
  <!-- JS -->
  {% block additional_js %}{% endblock %}
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    
  <script src="{{ asset( '/js/app.js' ) }}"></script>
</body>

</html>